:root {
  --bg-clr-primary: #272b30;
  --bg-clr-secondary: #3a497b;
  --hover-text-clr: #0099cc;
}
body {
  font-family: "Comfortaa", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nerko One", cursive;
}
.page {
  background-color: var(--bg-clr-primary);
  /* background-image: url(../img/wraper.png); */
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center -100px;
  background-size: contain -100px;
}
.page > img {
  height: 30vh;
  object-fit: cover;
}
.navbar {
  background-color: var(--bg-clr-secondary);
  border-radius: 20px;
  box-shadow: 0 0 10px rgb(0 0 0 / 0.7);
  margin-top: -30px !important;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0 !important;
}
.nav-link {
  font-size: 12.25px;
  transition: 0.3s;
}
.nav-link:hover {
  color: var(--hover-text-clr) !important;
}
.active {
  color: var(--hover-text-clr) !important;
}
.logo img {
  width: 40px;
}
.logo h3 {
  font-weight: lighter;
}
.card {
  background-color: transparent !important;
  margin-top: 50px;
  filter: grayscale(0.7);
  transition: 0.6s;
  cursor: pointer;
}
.card:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}
.card-des p {
  font-size: 12px;
}
.card-text {
  font-size: 13px;
  color: #ccc;
}
.card-footer p {
  font-size: 10px;
  font-weight: 700;
}
.details-wrapper {
  background-color: var(--bg-clr-primary);
  backdrop-filter: blur(4px);
  min-height: 100vh;
  color: white;
}

/* loading style  */
.loading {
  position: fixed;
  z-index: 9999;
  inset: 0;
  background-color: #272b30e3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #fff;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: relative;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-left: 4px solid #ff3d00;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
